body{
    background-color: red;
}

header{
    background-color: blue;
    border: 20px solid black;
    border-radius: 50px;
    padding: 20px 20px 50px 20px;
    margin-bottom: 100px;
}

nav li {
    color: white;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
}

#menu_index{
    background-color: green;
}

.sub_titulo{
    color: yellow;
    font-size: 20px;
}

p.sub_titulo{
    font-weight: bold;
    font-style: italic;
}

.lista{
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

ul.lista{
    list-style: circle;
    margin-left: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    /* display: table; */
}